.display-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.full-width{
    width: 100%;
}

.drkmode-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 3%
}

.drkmode-btn label{
    margin-right: 1%;
}

.hide-button{
    margin-top: 3%;
}





